# ── Template check rapide (1 min) ─────────────────────────────────────────────

define service {
    name                    fast-service
    use                     generic-service
    check_interval          1
    retry_interval          1
    register                0
}

define command {
    command_name            check_icmp_fast
    command_line            $USER1$/check_icmp -H $HOSTADDRESS$ -w $ARG1$ -c $ARG2$ -n 5
}

# ── Hosts Artemis ─────────────────────────────────────────────────────────────

define host {
    use                     linux-server
    host_name               artweb01p
    alias                   Artemis Web Backend 1
    address                 artweb01p
}

define host {
    use                     linux-server
    host_name               artweb02p
    alias                   Artemis Web Backend 2
    address                 artweb02p
}

define host {
    use                     linux-server
    host_name               arthpx01p
    alias                   Artemis HAProxy
    address                 arthpx01p
}

define host {
    use                     linux-server
    host_name               artsft02p
    alias                   Artemis SFTP
    address                 artsft02p
}

define host {
    use                     linux-server
    host_name               artnfs01p
    alias                   Artemis NFS
    address                 artnfs01p
}

define host {
    use                     linux-server
    host_name               artbdd01p
    alias                   Artemis PostgreSQL Primary
    address                 artbdd01p
}

define host {
    use                     linux-server
    host_name               artbdd02p
    alias                   Artemis PostgreSQL Replica
    address                 artbdd02p
}

define host {
    use                     linux-server
    host_name               artdb01p
    alias                   Artemis Zabbix Database
    address                 artdb01p
}

define host {
    use                     linux-server
    host_name               artglpt01p
    alias                   Artemis GLPI
    address                 artglpt01p
}

define host {
    use                     linux-server
    host_name               artglptdb01p
    alias                   Artemis GLPI Database
    address                 artglptdb01p
}

define host {
    use                     linux-server
    host_name               artgrydb01p
    alias                   Artemis Graylog MongoDB
    address                 artgrydb01p
}

define host {
    use                     linux-server
    host_name               artgryidx01p
    alias                   Artemis Graylog OpenSearch
    address                 artgryidx01p
}

define host {
    use                     linux-server
    host_name               artgry01p
    alias                   Artemis Graylog
    address                 artgry01p
}

define host {
    use                     linux-server
    host_name               artspl01p
    alias                   Artemis Splunk
    address                 artspl01p
}

define host {
    use                     linux-server
    host_name               artrsy01p
    alias                   Artemis Rsyslog
    address                 artrsy01p
}

define host {
    use                     linux-server
    host_name               artzab01p
    alias                   Artemis Zabbix Server
    address                 artzab01p
}

define host {
    use                     linux-server
    host_name               artzabweb01p
    alias                   Artemis Zabbix Web
    address                 artzabweb01p
}

define host {
    use                     linux-server
    host_name               artbkp01p
    alias                   Artemis Backup Job
    address                 artbkp01p
}

define host {
    use                     linux-server
    host_name               artbbx01p
    alias                   Artemis Blackbox Exporter
    address                 artbbx01p
}

define host {
    use                     linux-server
    host_name               artmet01p
    alias                   Artemis Docker Metrics
    address                 artmet01p
}

define host {
    use                     linux-server
    host_name               artprom01p
    alias                   Artemis Prometheus
    address                 artprom01p
}

define host {
    use                     linux-server
    host_name               artgrf01p
    alias                   Artemis Grafana
    address                 artgrf01p
}

define host {
    use                     linux-server
    host_name               artnag01p
    alias                   Artemis Nagios
    address                 artnag01p
}

# ── Services artweb01p ────────────────────────────────────────────────────────

define service {
    use                     fast-service
    host_name               artweb01p
    service_description     PING
    check_command           check_icmp_fast!100.0,20%!500.0,60%
}

define service {
    use                     fast-service
    host_name               artweb01p
    service_description     HTTP
    check_command           check_http
}

define service {
    use                     fast-service
    host_name               artweb01p
    service_description     HTTP Content
    check_command           check_http!-s "Artemis Web Backend"
}

define service {
    use                     fast-service
    host_name               artweb01p
    service_description     Nginx Status
    check_command           check_http!-u /nginx_status -s "Active connections"
}

define service {
    use                     fast-service
    host_name               artweb01p
    service_description     Nginx Exporter Metrics
    check_command           check_http!-p 9113 -u /metrics -s "nginx_up 1"
}

# ── Services artweb02p ────────────────────────────────────────────────────────

define service {
    use                     fast-service
    host_name               artweb02p
    service_description     PING
    check_command           check_icmp_fast!100.0,20%!500.0,60%
}

define service {
    use                     fast-service
    host_name               artweb02p
    service_description     HTTP
    check_command           check_http
}

define service {
    use                     fast-service
    host_name               artweb02p
    service_description     HTTP Content
    check_command           check_http!-s "Artemis Web Backend"
}

define service {
    use                     fast-service
    host_name               artweb02p
    service_description     Nginx Status
    check_command           check_http!-u /nginx_status -s "Active connections"
}

define service {
    use                     fast-service
    host_name               artweb02p
    service_description     Nginx Exporter Metrics
    check_command           check_http!-p 9113 -u /metrics -s "nginx_up 1"
}

# ── Services arthpx01p ────────────────────────────────────────────────────────

define service {
    use                     fast-service
    host_name               arthpx01p
    service_description     PING
    check_command           check_icmp_fast!100.0,20%!500.0,60%
}

define service {
    use                     fast-service
    host_name               arthpx01p
    service_description     HTTP via HAProxy
    check_command           check_http
}

define service {
    use                     fast-service
    host_name               arthpx01p
    service_description     HTTP via HAProxy Content
    check_command           check_http!-s "Artemis Web Backend"
}

define service {
    use                     fast-service
    host_name               arthpx01p
    service_description     HAProxy Stats
    check_command           check_http!-p 8404 -u /stats -s "Statistics Report"
}

define service {
    use                     fast-service
    host_name               arthpx01p
    service_description     HAProxy Prometheus Metrics
    check_command           check_http!-p 8405 -u /metrics -s "haproxy_process_uptime_seconds"
}

define service {
    use                     fast-service
    host_name               arthpx01p
    service_description     HAProxy Zabbix CSV
    check_command           check_http!-p 8406 -u / -s "http_front"
}

# ── Services fichiers ────────────────────────────────────────────────────────

define service {
    use                     fast-service
    host_name               artsft02p
    service_description     PING
    check_command           check_icmp_fast!100.0,20%!500.0,60%
}

define service {
    use                     fast-service
    host_name               artsft02p
    service_description     SFTP TCP
    check_command           check_tcp!22
}

define service {
    use                     fast-service
    host_name               artnfs01p
    service_description     PING
    check_command           check_icmp_fast!100.0,20%!500.0,60%
}

define service {
    use                     fast-service
    host_name               artnfs01p
    service_description     NFS TCP
    check_command           check_tcp!2049
}

# ── Services PostgreSQL ──────────────────────────────────────────────────────

define service {
    use                     fast-service
    host_name               artbdd01p
    service_description     PING
    check_command           check_icmp_fast!100.0,20%!500.0,60%
}

define service {
    use                     fast-service
    host_name               artbdd01p
    service_description     PostgreSQL TCP
    check_command           check_tcp!5432
}

define service {
    use                     fast-service
    host_name               artbdd01p
    service_description     PostgreSQL Exporter pg_up
    check_command           check_http!-p 9187 -u /metrics -s "pg_up 1"
}

define service {
    use                     fast-service
    host_name               artbdd01p
    service_description     PostgreSQL Primary Role
    check_command           check_http!-p 9187 -u /metrics -s "pg_replication_is_replica 0"
}

define service {
    use                     fast-service
    host_name               artbdd01p
    service_description     PostgreSQL Replication Stream
    check_command           check_http!-p 9187 -u /metrics -s "pg_stat_replication_pg_wal_lsn_diff"
}

define service {
    use                     fast-service
    host_name               artbdd02p
    service_description     PING
    check_command           check_icmp_fast!100.0,20%!500.0,60%
}

define service {
    use                     fast-service
    host_name               artbdd02p
    service_description     PostgreSQL TCP
    check_command           check_tcp!5432
}

define service {
    use                     fast-service
    host_name               artbdd02p
    service_description     PostgreSQL Exporter pg_up
    check_command           check_http!-p 9187 -u /metrics -s "pg_up 1"
}

define service {
    use                     fast-service
    host_name               artbdd02p
    service_description     PostgreSQL Replica Role
    check_command           check_http!-p 9187 -u /metrics -s "pg_replication_is_replica 1"
}

define service {
    use                     fast-service
    host_name               artbdd02p
    service_description     PostgreSQL Replica Lag Metric
    check_command           check_http!-p 9187 -u /metrics -s "pg_replication_lag_seconds"
}

# ── Services GLPI ────────────────────────────────────────────────────────────

define service {
    use                     fast-service
    host_name               artglpt01p,artglptdb01p
    service_description     PING
    check_command           check_icmp_fast!100.0,20%!500.0,60%
}

define service {
    use                     fast-service
    host_name               artglpt01p
    service_description     GLPI HTTP
    check_command           check_http
}

define service {
    use                     fast-service
    host_name               artglpt01p
    service_description     GLPI HTTP Content
    check_command           check_http!-s "GLPI"
}

define service {
    use                     fast-service
    host_name               artglptdb01p
    service_description     GLPI MySQL TCP
    check_command           check_tcp!3306
}

# ── Services logs / SIEM ─────────────────────────────────────────────────────

define service {
    use                     fast-service
    host_name               artgrydb01p,artgryidx01p,artgry01p,artspl01p,artrsy01p
    service_description     PING
    check_command           check_icmp_fast!100.0,20%!500.0,60%
}

define service {
    use                     fast-service
    host_name               artgrydb01p
    service_description     Graylog MongoDB TCP
    check_command           check_tcp!27017
}

define service {
    use                     fast-service
    host_name               artgryidx01p
    service_description     OpenSearch HTTP
    check_command           check_http!-p 9200 -s "cluster_name"
}

define service {
    use                     fast-service
    host_name               artgry01p
    service_description     Graylog API Health
    check_command           check_http!-p 9000 -u /api/system/lbstatus -s "ALIVE"
}

define service {
    use                     fast-service
    host_name               artgry01p
    service_description     Graylog Syslog TCP
    check_command           check_tcp!1514
}

define service {
    use                     fast-service
    host_name               artspl01p
    service_description     Splunk Web
    check_command           check_http!-p 8000 -f follow -u /en-US/account/login -s "Splunk"
}

define service {
    use                     fast-service
    host_name               artspl01p
    service_description     Splunk HEC TCP
    check_command           check_tcp!8088
}

define service {
    use                     fast-service
    host_name               artspl01p
    service_description     Splunk Syslog TCP
    check_command           check_tcp!1515
}

define service {
    use                     fast-service
    host_name               artrsy01p
    service_description     Rsyslog TCP
    check_command           check_tcp!514
}

# ── Services supervision et sauvegarde ───────────────────────────────────────

define service {
    use                     fast-service
    host_name               artdb01p,artzab01p,artzabweb01p,artbkp01p,artbbx01p,artmet01p,artprom01p,artgrf01p,artnag01p
    service_description     PING
    check_command           check_icmp_fast!100.0,20%!500.0,60%
}

define service {
    use                     fast-service
    host_name               artdb01p
    service_description     Zabbix Database TCP
    check_command           check_tcp!5432
}

define service {
    use                     fast-service
    host_name               artzab01p
    service_description     Zabbix Server TCP
    check_command           check_tcp!10051
}

define service {
    use                     fast-service
    host_name               artzabweb01p
    service_description     Zabbix Web Ping
    check_command           check_http!-p 8080 -u /ping -s "pong"
}

define service {
    use                     fast-service
    host_name               artbkp01p
    service_description     Backup Metrics HTTP
    check_command           check_http!-p 8080 -u /metrics -s "artemis_backup_last_status 0"
}

define service {
    use                     fast-service
    host_name               artbkp01p
    service_description     Backup File Count Metric
    check_command           check_http!-p 8080 -u /metrics -s "artemis_backup_copied_files"
}

define service {
    use                     fast-service
    host_name               artbbx01p
    service_description     Blackbox Exporter Metrics
    check_command           check_http!-p 9115 -u /metrics -s "blackbox_exporter_build_info"
}

define service {
    use                     fast-service
    host_name               artmet01p
    service_description     Docker Metrics Exporter
    check_command           check_http!-p 8080 -u /metrics -s "artemis_container_running"
}

define service {
    use                     fast-service
    host_name               artmet01p
    service_description     Docker Volume Metrics
    check_command           check_http!-p 8080 -u /metrics -s "artemis_volume_filesystem_used_percent"
}

define service {
    use                     fast-service
    host_name               artprom01p
    service_description     Prometheus Healthy
    check_command           check_http!-p 9090 -u /-/healthy -s "Prometheus Server is Healthy"
}

define service {
    use                     fast-service
    host_name               artprom01p
    service_description     Prometheus Metrics
    check_command           check_http!-p 9090 -u /metrics -s "prometheus_build_info"
}

define service {
    use                     fast-service
    host_name               artgrf01p
    service_description     Grafana API Health
    check_command           check_http!-p 3000 -u /api/health -s "database"
}

define service {
    use                     fast-service
    host_name               artnag01p
    service_description     Nagios Web UI
    check_command           check_http!-a nagiosadmin:nagios -u /nagios/ -s "Nagios"
}
